html {
    -webkit-text-size-adjust: 100%;
    padding-bottom: 40px;
}

body {
    font-family: sans-serif;
    line-height: 15px;
    max-width: 400px;
    padding: 0 2%;
    margin: auto
}


h1 {
    color: #e77676;
}

.text-input {
    width: 96%;
    display: block;
    padding: .5em 1%;
    margin-bottom: 1.5em;
    font-size: 1em
}

.answer {
    width: 96%;
    display: block;
    padding: .5em 1%;
    margin-bottom: 1.5em;
    font-size: 1em
}

fieldset {
    margin-bottom: 1.5em
}
.error {
    color: #990000
}
.description .content {
	padding-bottom: 6px;
}
.names-table{
	padding-bottom: 40px;
}
.names-table table{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}
.names-table table, th, td {
	border: 1px solid;
	border-color: #0c0606;
}
.names-table th,td {
	height: 33px;
}
.names-table th{
	font-size: 16px;
}
.names-table td {
	padding-left: 6px;
	font-size: 14px;
}
